@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffefb;
    --foreground: #ededed;
  }
}

.arrow-mask {
    width: 40px;
    height: 40px;
    background-color: #434343;
    mask: url('../../public/svg/arrow.svg') no-repeat center / contain;
    -webkit-mask: url('../../public/svg/arrow.svg') no-repeat center / contain;
}

@font-face {
  font-family: "Better-land";
  src: url("../../public/fonts/better_land_rus.otf") format("opentype");
}

@font-face {
  font-family: "Manrope";
  src: url("../../public/fonts/Manrope/Manrope-VariableFont_wght.ttf")
    format("truetype");
  src: url("../../public/fonts/Manrope/static/Manrope-Bold.ttf")
    format("truetype");
  src: url("../../public/fonts/Manrope/static/Manrope-ExtraBold.ttf")
    format("truetype");
  src: url("../../public/fonts/Manrope/static/Manrope-ExtraLight.ttf")
    format("truetype");
  src: url("../../public/fonts/Manrope/static/Manrope-Light.ttf")
    format("truetype");
  src: url("../../public/fonts/Manrope/static/Manrope-Regular.ttf")
    format("truetype");
  src: url("../../public/fonts/Manrope/static/Manrope-SemiBold.ttf")
    format("truetype");
  src: url("../../public/fonts/Manrope/static/Manrope-Medium.ttf")
    format("truetype");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
